.promo {
    min-height: 958px;
    background: #1F98F0;
    padding: 35px 0 93px 0;
    &__header {
        &_burger {
            display: none;
            &_list {
                display: none;
            }
        }
        &_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_logo {
            cursor: pointer;
        }
        &_menu {
            margin-right: 260px;
            &_list {
                display: flex;
                &_type {
                    margin: 0 25px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        font-family: Work Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        color: rgba(255,255,255, .7);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &__info {
        margin-top: 70px;
        &_wrapper {
            display: flex;
            justify-content: space-between;
        }
        &_item {
            &_title {
                font-family: Work Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 51px;
                line-height: 130%;
                color: #FFFFFF;
                width: 500px;
                padding-top: 232px;
            }
            &_descr {
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;
                color: #FFFFFF;
                width: 488px;
                margin-top: 30px;
            }
            &_store {
                display: flex;
                margin-top: 50px;
                &_app {
                    cursor: pointer;
                    margin: 0 20px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
                &_android {
                    cursor: pointer;
                }
            }
        }
    }
}